/**/*

!/.gitignore

!/ember/
!/ember/__init__.py
!/ember/features.py

!/licenses/
!/licenses/AGPL-LICENSE-3.0.txt
!/licenses/MIT-LICENSE.txt

!/malconv/
!/malconv/malconv.h5
!/malconv/malconv.py
!/malconv/multi_gpu.py
!/malconv/README.md

!/resources/
!/resources/ember-notebook.ipynb
!/resources/ember2018-notebook.ipynb
!/resources/logo.png

!/scripts/
!/scripts/classify_binaries.py
!/scripts/init_ember.py

!/ember-jsonl-to-csv/
!/ember-jsonl-to-csv/setup.py
!/ember-jsonl-to-csv/README.md
!/ember-jsonl-to-csv/ember_jsonl_to_csv/
!/ember-jsonl-to-csv/ember_jsonl_to_csv/__init__.py
!/ember-jsonl-to-csv/ember_jsonl_to_csv/ember_jsonl_to_csv.py

!/Dockerfile
!/INFO.md
!/LICENSE.txt
!/README.md
!/requirements_conda.txt
!/requirements_notebook.txt
!/requirements.txt
!/setup.py
